h2
{
	/*color: #4CBB17;*/
    border-bottom: 2px solid #4CBB17;
    margin-bottom: 15px;
    clear: both;
 }

 #list-team
 {
 	list-style-type: none;
 	padding-left: 0px;
 }

 #list-team li
 {
 	margin-bottom: 25px;
 }


  #list-team li figcaption
  {
 	text-align: justify;
 	text-indent: 30px;
  }


 @media(max-width: 600px)
 {
 	#list-team li figure img
 	{
 		display: block;
 	}
 }

 @media(max-width: 332px)
{
	
	#logo
	{
		padding: 10px;
		background: #7f7f00;
		display: block;
		margin: auto ;
		margin-bottom: 5px;
		width: 60%;
		height: 60%;
		float: none;
		
		
	}

	#logo figcaption
	{
		text-align: left;
		color: #fff;
	}
}


@media(min-width:333px )
{
	#logo
	{	
		margin: 5%;
		width: 160px;
		height: 180px;
		float: right;
		padding: 10px;
		padding-bottom: 30px;
		/*background: #7f7f00;*/
	}

	#logo figcaption
	{
		text-align: left;
		color: #fff;
	}

	#list-team img
	{
		float: left;
		margin-right: 15px;
	}

	#logo img
	{
		width: 1000px;
		height: 200px;
		border-style: solid;
		border-color: red;
		border-width:2px;
	}

}

@media(max-width: 768px)
{

}


