#content
{
    width: 56%;
    margin-top: 30px;
    /*border-width: 1px;
    border-style: solid;
    border-color: red;*/
}

#content figure h2
{
    margin-top: 10px;
}

#content figure h2 a
{
    color: #202020;
}


#content figure h2 a:hover
{
    color: darkslategray;
}
