body
{
    font-family: "Lucida sans Unicode", "Helvetica",  sans-serif; /*"Lucida sans Unicode", "Helvetica"*/
    
}
p
{
    text-align: justify;

}

.nav, .navbar-nav, .navbar-default, .navbar-collapse
{
    border-style:none;
}


.brown
{
    color: #e15c11;
    font-family:  "Purisa";     
}

.green
{
    color: #4CBB17;
}



/*#list-footer a
{
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}*/


/* CSS DAS NOTICIAS DE DESTAQUE*/
.destaques
{
    margin-top: 30px;
}
.destaques img
{
    /*width: 100%; height: auto;*/
    margin: 0 auto 10px auto;
}

.destaque figcaption
{
    font-size: 130%;
    background: #fff;
    min-height: 50px;
    padding: 10px 20px;
}

.bc1{border-bottom: 6px solid #e1734a;}
.cc1{display: block; color: #e1734a;}
.bc2{border-bottom: 6px solid #8d9b31;}
.cc2{display: block; color: #8d9b31;}
.bc3{border-bottom: 6px solid #4476ab;}
.cc3{display: block; color: #4476ab;}
.bc4{border-bottom: 6px solid #9c6496;}
.cc4{display: block; color: #9c6496;}

.noticias
{
    position: relative;
    background-color: #333;
    padding: 10px 0;
    margin-top: 20px;
    padding: 10px;
}

.noticias h3
{
    font-size: 90%;
    color: #999;
    text-transform: uppercase;
}

.noticiais a
{
    display: block;
    font-size: 150%;
}

.noticias a:hover
{
    color: #ccc;
}

a.mais-noticias
{
      width:160px;;
      font-size:100%;
      text-align:center;
      background:#666;
      position:absolute;
      left:50%;
      bottom:-10px;
      margin-left:-80px;
      color:#fff;
}

.p_color{color:#fff;}

/* CSS DO SLIDESHOW*/
.slideshow
    {
        margin-top: 60px;
        width: 70%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        
    }

    .slideshow p
    {
        margin-top: 25px;
    }

    .slideshow li
    {
        position: relative;
        bottom: 65px;
        color: #eee;
    }

    .slideshow figcaption
    {
        padding: 10px;
    }

a:hover{text-decoration: none;}

/*@media screen and (max-width: 1200px)
{
    body
    {
        background-image: none;
    }
}


@media screen and (max-width: 992px)
{
    form[role="search"]
    {
        float: none!important;
    }
}*/


@media(max-width: 767px)
{

    #nav-top
    {
        margin-top: -20px;

    }


    #web-social
    {
        border-style: none;
    }

    #buscar form
    {
        border-style: none;
    }

    #search
    {
        margin-top: 25px;
        margin-bottom: 10px;
        width: 60%;        
        margin-left: auto;
        margin-right: auto;
    }

    #social
    {
        width: 150px;
        margin: auto;
        margin-bottom: 10px;
        border-style: none;
    }
    
    #social li
    {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-left: 15px;
    }

    #social ul
    {
        width: inherit;
    }

    #social li img, #list-footer img
    {
        width: 20px;
        height: 20px;
        position: relative;
        top: 5px;
    }

    footer
    {
        position: relative;
        padding: 10px; 
        background-color: #202020;
        height: 600px;
        color: #fff;
        margin-top: 40px;
    }
    footer li a
        {
            color: #fff;
        }

    footer li a:hover
    {
        text-decoration: none;
    }


    footer h2
    {
        border-bottom-style: solid;
        border-color: #fff;
        border-width: 0.05px;
        display: block;
    }

    /*footer
    {
        position: relative;
        padding: 10px; 
        background-color: #202020;
        color: #fff;
        margin-top: 60px;
    }*/

    #list-footer
    {
        position: relative;
        display: inherit;
        width: 160px;
        margin-right: 5%;
        margin-top: 10px;
    }

    #list-footer li img
    {
        width: 20px;
        height: 20px;
    }

    #nav-footer li
    {
        
        display: inline-block;
        margin-left: 5px;
        width: 26px;
        height: 26px;
    }

    #nav-footer li a
    {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-left: 3px;
    }
    
    #list-footer li a:hover
    {
        text-decoration: none;
    }

    #contato
    {
        list-style: none;
        margin-left: -35px;
        vertical-align: top;
    }

    #contao li a
    {
        text-decoration: none;
        color: white;
    }

    footer .navbar #list-footer a:hover
    {
        text-decoration: none;
        background-color: #202020;
    }
}


@media(min-width:768px)
{
    .navbar
    {
        margin-bottom: 0;
        color: #202020;
    }

    #nav-large
    {
        height: 300px;
        /*background-color: #fff;*/
        background-image: url("../assets/img/painel/background.png"); /*url('../img/street4.png')*/;
        background-origin: inherit;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        color: #202020;

        /*border-style: solid;
        border-color: red;
        border-width: 2px;*/
    }

    #ul-index
    {
        position: relative;
        top: 50px;
        left: 45%;
        margin-right: 40px;
        /*border-style: solid;
        border-color: red;
        border-width: 2px;*/
    }

    #ul-index li
    {
        color: #000;
        font-size: 20px;
        font-family: ' Oswald','Droid Sans', sans-serif;
        vertical-align: top;
        margin-right: 10px;
    }
    #ul-index li:nth-child(3)
    {
        position: relative;
        vertical-align: top;
        bottom: 7px;
    }

    #ul-index li a
    {
        color: #FFF;
    }

    #ul-index li a:hover
    {
        text-decoration: underline;
    }

    #ul-index-son li a
    {
        color: black;
    }

    #logo-index
    {
        position: relative;
        left: 50px;
        top: 30px;
        border-style: solid;
        border-color: #fff /*#202020*/;
        border-width: 2px;
        width: 200px;
        height: 200px;
    }

    #ul-top
    {
        position: relative !important;
        bottom: 200px !important;
        left: 0 !important;
        z-index: 2000;
    }

    #ul-top
    {
        width: 70%;
        margin: auto;
    }

    #web-social
    {
        border-radius: 0px;
        background-color:  #202020 /*#006400 #008B00*/;
        height: 40px;
        margin-bottom: 0;
    }
    
    #search
    {
        position: relative;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 200px;
        float: right;
        margin-top: 2.5px;
    
    }

    #search input
    {
        /*height: 32px;
        width: 100px;*/
        /*background: white;*/
        /*position: relative;*/
        /*bottom: 30px;*/
        /*margin-top: 5px;*/
    }

    #social
    {
        display: inline-block !important;
        margin-left: 2%;
    }

    #social li
    {
        /*border-color: mediumpurple;
        border-style: dashed;
        border-width:1px;*/
        display: inline;
        margin-right: 10px;
    }


    #social img, #list-footer img
    {
        width: 20px;
        height: 20px;
        border-radius: 3px;
    }

    #side-bar
    {
        width: 250px;
        margin-top: 40px;
        /*position: relative;
        right: -75%;*/
        float: right;
        margin-right: 60px;
    }

    #side-bar div
    {
        /*border-style: solid;
        border-color: #0b2e13;
        border-width: 1px;*/
    }

    #side-bar div figure img
    {
        width: 260px;
        height: 158px;
        border-style: solid;
        border-color: #0b2e13;
        border-width: 1px;
        margin-left: 26px;

    }

    #side-bar div figure figcaption
    {
        text-align: center;
        margin-left: 25%;
    }


   #busca{
       position: relative;
       bottom: 35px;
   }

   #about_us
   {
       width: 80%;
       position: relative;
       right: 5%;
       border-color: red;
       border-width: 1px;
       margin-left: 26px;
   }

   #contact
   {
       width: 70%;
       position: relative;
       right: 5%;
       border-color: red;
       border-width: 1px;
       margin-left: 26px;
       float: left;
   }

    footer
    {
        position: relative;
        top: 64px;
        padding: 10px;
        padding-left: 20px; 
        background-color: #202020;
        height: 400px;
        color: #fff;
        margin-top: 40px;
        clear: both;
    }

    footer li a
    {
        color: #fff;
    }

    footer li a:hover
    {
        text-decoration: underline;
        color: #fff;
    }


    footer h2
    {
        border-bottom-style: solid;
        border-color: #fff;
        border-width: 0.05px;
    }


    footer h2, #contato, #list-footer, address,#p-f, #nav-footer/*#list-footer*/
    {
        position: absolute;
        width: 200px;
        display: inline-block;
        /*border-style: solid;
        border-color: red;
        border-width: 1px;*/
    }

    footer h2
    {
        top: 10px;
    }
    footer #end, address
    {
        left: 250px;
    }
    footer #cont, #contato, #nav-footer
    {
        left: 490px;
    }

    footer #p-f,#contato, #list-footer, address
    {
        top:100px;
    } 

    #nav-footer
    {
        width: inherit;
        /*left: 520px;*/
        left: 40%;
        top: 50px;
        /*border-style: solid;
        border-color: red;
        border-width: 1px;*/
    }

    #nav-footer #list-footer li{display: inline-block;}

    #contato
    {
        list-style: none;
    }
    
    #sobre, #end, #cont
    {
        width: inherit;
        padding-bottom: 5px;
    }

    #list-footer a
    {
        width: 20px;
        height: 20px;
    }

    footer .navbar #list-footer a:hover
    {
        text-decoration: none;
        background-color: #202020;
    }

    /*footer .navbar #list-footer a:hover img
    {
        border: 1px solid #939393;
        transition: width 1s, height 1s;
        width: 30px;
        height: 30px;
    }*/

    /*footer #p-f, #contato, #list-footer, address
    {
        border-right-style: solid;
        border-color: #fff;
        border-width: 1px;
        padding-right: 5px;
    }*/

}


