body
{
    font-family: "Lucida sans Unicode", "Helvetica", sans-serif;
    
}

p{
    text-align: justify;
    text-justify: auto;
}

.brown
{
    color: #e15c11;
}

.green
{
    color: #7ccd7e;
}

#list-footer a
{
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}

#nav-footer a[href*='facebook.com']
{
    background-image: url(../assets/img/socialNetworks/facebook.png);
    background-repeat:no-repeat;
}
#nav-footer a[href*='twitter.com']
{
    background-image: url(../assets/img/socialNetworks/twitter.png);
    background-repeat:no-repeat;
}
#nav-footer a[href*='pinterest.com']
{
    background-image: url(../assets/img/socialNetworks/pinterest-logo.png);
    background-repeat:no-repeat;
}
#nav-footer a[href*='youtube.com']
{
    background-image: url(../assets/img/socialNetworks/youtube-logo.png);
    background-repeat:no-repeat;
}


@media(max-width: 767px)
{
    footer
    {
        position: relative;
        padding: 10px; 
        background-color: #202020;
        height: 300px;
        color: #fff;
        margin-top: 40px;
    }
    
    #list-footer
    {
        position: relative;
        display: inherit;
        width: 160px;
        margin-right: 5%;
        margin-top: 10px;
    }
    #nav-footer li
    {
        
        display: inline-block;
        margin-left: 5px;
        width: 26px;
        height: 26px;
    }

    #nav-footer li a
    {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-left: 3px;
    }
    #list-footer li a:hover
    {
        text-decoration: none;
    }
}


/*@media(min-width:440px)
{
     #nav-top
    {
        background-color: #eee;
    }

        #nav-top a
    {
        color: #202020;
    }

    footer
    {
        padding: 10px; 
        background-color: #202020;
        height: 300px;
        color: #fff;
    }
    
    #nav-footer ul
    {
        width: 35%;
        /*position: relative;
        left: 60%;
        top: 200%;
        margin-top: 5%;
        margin-left: 60%;
        
    }
    
    #nav-footer li
    {
        display: inline-block;
        margin-right: 4%;
        
    }*/
   



@media(min-width:768px)
{
    .container
    {
        width: 96%;
    }
    
    #web-social
    {
        background-color: #202020;
        height: 50px;
    }
    
    #search
    {
        position: relative;
    }
    #search input
    {
        height: 25px;
        position: relative;
        bottom: 30px;
    }
    .social
    {
        position: relative;
        left: 60%;
    }
    .social a
    {
        display: block;
        width: 32px;
        height: 32px;
        margin-right: 5px;
        border: none;
    }
}


